@import '../../sass/mixins/desktop.scss';
@import '../../sass/vars.scss';

.posts-list-item {
  position: relative;
  box-sizing: border-box;
  margin: 1em;
  width: 100%;

  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.20);
    opacity: 0.4;
    transition: opacity 200ms;
  }

  &:hover:after {
    opacity: 1;
  }
  
  @include desktop() {
    width: calc(50% - 2em);
  }

  &__content {
    padding: 1em;
  }

  &__title-link {
    color: inherit;
    text-decoration: none;
  }
}